<section id="footer" class="px-4 md:px-10">
    <div class="md:container flex flex-col md:flex-row justify-between mx-auto">
        <div class="md:w-5/12 flex flex-col gap-y-10 pb-20">
            <div class="w-7/12 md:w-10/12 lg:w-6/12 xl:w-4/12">
                <img src="/wp-content/uploads/2023/12/GWS-Logo-White.png" alt="">
            </div>
            
            <div class="footer-menu flex flex-col md:flex-row md:flex-wrap gap-x-3 lg:justify-between lg:gap-x-10 md:gap-y-2">
                <a href="/all-series">Products</a>
                <a href="/who-we-are">About Us</a>
                <a href="/careers">Careers</a>
                <a href="/gws-blog">News</a>
            </div>

            <div class="w-full xl:w-9/12 flex flex-col lg:flex-row gap-y-4 justify-between">
                <div class="flex flex-col">
                    <a class="text-pale-blue text-lg xl:text-xl font-light" href="tel:18774978665">1(877)497-8665</a>
                    <a class="text-pale-blue text-lg xl:text-xl font-light" href="mailto:sales@gwstoolgroup.com">sales@gwstoolgroup.com</a>
                </div>
                <div class="flex items-center">
                   {% if user %}
                        <button class="btn light-blue"><a href="/dashboard">My Dashboard</a></button>
                    {% else %}
                        <button class="btn light-blue"><a href="/sign-in">Login</a></button>
                    {% endif %}
                </div>
            </div>

            <div>
                <p class="text-3xl text-pale-blue uppercase font-extrabold pb-7">Follow Us</p>
                <div class="flex gap-x-8">
                    <a href="https://www.instagram.com/gwstoolgroup/" class="social-media" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/gwstoolgroup" class="social-media" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://www.youtube.com/c/GWSToolGroup" class="social-media" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.facebook.com/GWSToolGroup/" class="social-media" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://twitter.com/gwstoolgroup" class="social-media" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>

        </div>
        <div class="md:w-6/12 lg:w-5/12 flex flex-col md:gap-y-10 mb-10">
            <div>
                <h2 class="text-3xl md:text-6xl mb-4 text-pale-blue font-extrabold uppercase">Stay In Touch</h2>
                <p>Join our newsletter for the latest news, promotions, and more from GWS.</p>
            </div>
            <div>

                {{ function('gravity_form', 29, false ) }}
            </div>
        </div>

    </div>
    <div class="container mx-auto text-xs pb-5"><p>Copyright © {{"now"|date('Y')}} GWS Tool Group // <a href="/terms-conditions/">TERMS & CONDITIONS</a> // All rights reserved</p></div>
</section>
{# <!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "6504adeb19524a00071d6610";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<noscript>You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/" rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a></noscript>
<!-- End of ChatBot code --> #}

<script src="/wp-content/themes/gws-web/js/mega-menu.js" defer></script>
<script src="/wp-content/themes/gws-web/js/modals.js"></script>
