{% extends "base.twig" %}
{% block content %}

{% include "page-header.twig" %}

<section id="locations" class="container mx-auto py-48 px-4">

<div class="flex flex-wrap gap-y-20">
    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/florida_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">FLORIDA (HQ)</h3>
            <p class="text-lg">595 County Road 448<br>
            Tavares, FL 32778<br>
            Phone: <a href="tel:18774978664">(877) 497-8665</a><br>
            Email: <a href="mailto:sales@gwstoolgroup.com">sales@gwstoolgroup.com</a></p>
        </div>
    </div>
    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/arizona_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">ARIZONA</h3>
            <p class="text-lg">10895 N. Solar Canyon Way<br>
            Surprise, AZ 85379<br>
            Phone: <a href="tel:18009986565">(800) 998-6565</a></p>
        </div>
    </div>

    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/illinois_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">ILLINOIS</h3>
            <p class="text-lg">215 Elmwood Ave.<br>
                South Beloit, IL 61080<br>
                Phone: <a href="tel:18008728277">(800) 872-8277</a></p>
        </div>
    </div>

    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/illinois_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">ILLINOIS</h3>
            <p class="text-lg">1251 Nagel Blvd<br>
                Batavia, IL 60510<br>
                Phone: <a href="tel:18473529800">(847) 352-9800</a></p>
        </div>
    </div>

    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/michigan_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">MICHIGAN</h3>
            <p class="text-lg">3987 Brockton Dr. SE Suite #A<br>
                Kentwood, MI 49512<br>
                Phone: <a href="tel:18774978665">(877) 497-8665</a></p>
        </div>
    </div>

    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/north_carolina_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">NORTH CAROLINA</h3>
            <p class="text-lg">75 Old Shoals Road<br>
                Arden, North Carolina 28704<br>
                Phone: <a href="tel:18007983686">(800) 798-3686</a></p>
        </div>
    </div>

    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/ontario_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">ONTARIO</h3>
            <p class="text-lg">66 Clark St.<br>
                Welland, Ontario<br>
                Canada, L3B 5W6<br>
                Phone: <a href="tel:19057358665">(905) 735-8665</a></p>
        </div>
    </div>

    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/alberta_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">ALBERTA</h3>
            <p class="text-lg">6303 76th Ave. N.W.<br>
                Edmonton, Alberta<br>
                Canada, T6B 0A6<br>
                Phone: <a href="19057358665">(905) 735-8665</a></p>
        </div>
    </div>

    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/california_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">CALIFORNIA</h3>
            <p class="text-lg">2470 Ash Street<br>
                Vista, CA 92081<br>
                Phone: <a href="tel:18882272433">(888) 227-2433</a></p>
        </div>
    </div>

    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/wisconsin_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">WISCONSIN</h3>
            <p class="text-lg">N94 W14530 Garwin Mace Dr.<br>
                Menomonee Falls, WI 53051<br>
                Phone: <a href="12622510099">(262) 251-0099</a></p>
        </div>
    </div>

    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/wisconsin_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">WISCONSIN</h3>
            <p class="text-lg">W305N7697 County Rd E<br>
                Hartland, WI 53029<br>
                Phone: <a href="tel:12629662355">(262) 966-2355></a></p>
        </div>
    </div>
    <div class="location-block flex flex-col gap-y-6 lg:flex-row w-full md:w-6/12 gap-x-10 items-center">
        <div class="state">
            <img src="/wp-content/uploads/2024/02/tennessee_blue.png" alt="" class="max-h-52"> 
        </div>
        <div class="address">
            <h3 class="text-2xl font-bold text-pale-blue mb-2">TENNESSEE</h3>
            <p class="text-lg">739 Fesslers Lane<br>
                Nashville, TN 37210<br>
                Phone: <a href="tel:16152427341">(615) 242-7341</a></p>
        </div>
    </div>


</div>

</section>
<section>
    <div class="bg-diagonal">{% include "./templates/perfect-tool-two.php" %}</div>
</section>

{% endblock %}


