{% extends "base.twig" %}
{% block content %}
{# <section id="our-background-header" class="page-header bg-black">
    <div class="md:container mx-auto flex flex-col justify-center ps-10 hero-background  animate__animated animate__fadeInDown" style="background: url('{{post.thumbnail.src}}'); background-repeat: no-repeat; background-size: cover; background-position: center; background-color: rgba(0,0,0,.3); background-blend-mode: overlay;">
        <h1 class="md:text-6xl uppercase font-black text-white">{{post.title}}</h1>
    </div>
</section> #}

{% include "page-header.twig" %}

<section class="page-content container mx-auto px-4">
    <div class="md:flex justify-between gap-x-10">
        <p class="w-full md:w-6/12 animate__animated animate__fadeInLeft">GWS Tool Group is a North American-based, vertically integrated manufacturer of highly engineered custom, standard, and modified standard cutting tools, primarily servicing the aerospace and defense, power generation, automotive and medical sectors. GWS Tool Group has acquired multiple businesses in the course of its growth which now serve as the respective manufacturing divisions for the company.</p>
        <p class="w-full md:w-6/12 animate__animated animate__fadeInRight">The continued expansion of GWS Tool Group by way of acquisitions and constant investment in the business’ capabilities has created an explosive value proposition for customers to leverage in all advanced machining environments. We remain committed to the expansion of this value proposition always and in all ways.</p>
    </div>
    
    <div id="acquisitions" class="mt-20 px-4">
        <h2 class="text-4xl md:text-5xl uppercase text-pale-blue font-bold">Our Acquisitions</h2>
        <div class="mt-10 flex flex-col gap-y-10">
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/gw_schultz.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Florida</h3>
                    <p>Founded in 1984, GW Schultz Tool had been known as a premier manufacturer of solid round carbide cutting tools. They became the custom endmill manufacturing division for GWS Tool Group in 2014.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/cgi_tool.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Indiana</h3>
                    <p>Founded in 1958, CGI Tool (formerly Carbide Grinding Company) became the manufacturer of our most complex and tight tolerance carbide, PCD and CBN insert tooling solutions in 2017.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/alliance_cnc.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Michigan</h3>
                    <p>Founded in 1995, Alliance CNC now serves as our designer and builder of application-specific, tight tolerance drills, reamers, and micro-tools. Acquired in 2018, other products include our PAC Reamers and ECO Drills.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/benchmark_carbide.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Massachusetts</h3>
                    <p>Founded in 1980, Benchmark Carbide served as the production division for a great deal of the GWS catalog round tool and standard high-performance endmills since 2018.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/intrepid_tool.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Arizona</h3>
                    <p>Founded in 1996, Intrepid Tool Industries (ITI) now serves as the provider of carbide, HSS, and PCD cutting tools for the aerospace sector, including threaded shank and/or brazed construction drills, reamers and countersinks since 2020.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/na_tool.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Illinois</h3>
                    <p>Founded in 1986, North American Tool Corporation (NATC) now serves as our manufacturer of special taps, dies, and gages. These include solid carbide thread mills, high-speed steel taps and thread gages since 2020.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="https://www.gwstoolgroup.com/wp-content/uploads/2025/02/STF-1.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">North Carolina </h3>
                    <p>Founded in 1993, STF Precision now serves as the leading manufacturer of diamond-tipped cutting tools, including polycrystalline diamond tools (PCD) and single-crystal diamond tools (SCD) for GWS since 2020.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/taurus_tool.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Illinois</h3>
                    <p>Founded in 1976, Taurus Tool & Engineering now serves as a manufacturer of our precision custom cutting tools, primarily in the categories of both HSS and carbide hole making and milling tools since 2021..</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/cjt.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Illinois</h3>
                    <p>Founded in 1978, CJT Koolcarb Inc. now serves as a leader in the manufacturing of carbide and carbide-tipped drills and reamers for industries such as aerospace and automotive for GWS since 2021.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/indexable.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">ON, AB, Canada</h3>
                    <p>Founded in 1965, Indexable now serves as our fully vertically integrated production facility of ceramic materials and inserts, including whisker ceramics, silicon nitride and white ceramics since 2021.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/monster.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">California</h3>
                    <p>Founded in 1992, Monster Tool Company adds their reputation as a cost and service leader in carbide tooling that includes end mills, drills, reamers and burrs for GWS since 2021.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/ctmi.jpg" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Wisconsin</h3>
                    <p>Founded in 1992, Carbide Tools Manufacturing, Inc. further strengthens our capability and capacity in the arena of custom carbide round tooling since 2021.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/peterson.png" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Tennessee</h3>
                    <p>Founded in 1958, Peterson Tool Company’s work holding and machine-optimized tooling capability has been complementing the cutting tool capability of GWS since 2022.</p>
                </div>
            </div>
            <div class="w-full lg:w-9/12 flex flex-col gap-y-6 lg:flex-row items-start lg:items-center animate__animated animate__fadeInLeft">
                <div class="lg:w-3/12">
                    <img src="/wp-content/uploads/2024/02/balax.webp" alt="">
                </div>
                <div class="flex flex-col gap-y-2 lg:w-9/12">
                    <h3 class="font-bold uppercase text-2xl md:text-3xl text-pale-blue">Wisconsin</h3>
                    <p>Founded in 1958, Balax Inc. brings their premium tapping solutions of both the standard and custom variety to the GWS portfolio since 2022.</p>
                </div>
            </div>
           
            


        </div>
    </div>

</section>

<section>
    <div class="bg-diagonal">{% include "./templates/perfect-tool-two.php" %}</div>
</section>
{% endblock %}

