{% extends "base.twig" %}
{% block content %}

{% include "page-header.twig" %}

<section class="container mx-auto py-48 px-4">
    <div id="iso-certifications" class="lit-section">
        <h2 class="text-4xl font-bold text-pale-blue uppercase mb-4">Quality Documents</h2>
        <hr>
        <div class="lit-row flex flex-wrap mt-10 mb-28">

        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">RoHS Statement</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/signed-Rohas.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">Responsible Sourcing Statement</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2025/02/Responsible-Minerals-Sourcing-Statement_GWS-2025.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">REACH Statement</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/REACH-Statement-en-2.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">Animal Derivative Statement</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/10/GWS-Animal-Derivative-Statement.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Tavares, FL</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="https://www.gwstoolgroup.com/wp-content/uploads/2025/07/GWS_ISO-ISO-9001_2015_2028.pdf">Download 9001</a></button></div>
                    <div><button class="btn light-blue"><a href="https://www.gwstoolgroup.com/wp-content/uploads/2025/07/GWS_ISO-14001_2015_2028.pdf">Download 14001</a></button></div>
                    <div><button class="btn light-blue"><a href="https://www.gwstoolgroup.com/wp-content/uploads/2025/07/GWS_ISO-45001_2018_2028.pdf">Download 45001</a></button></div>
                </div>
            </div>  
        </div>

    </div>
</div>
</section>
{% endblock %}