{% extends "base.twig" %}

{% block content %}
{% include "page-header.twig" %}
<section class="container mx-auto py-36">

    <div class="flex flex-col gap-y-16">
        <div class="w-full lg:w-8/12 mb-0">
        
            <p class="text-lg">Welcome to the GWS Email Signature Guide! Use this guide to request your official email signature, which will be sent to you by email. If you have any questions, please reach out to the IT team at ithelpdesk@gwstoolgroup.com.</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img src="/wp-content/uploads/2024/12/step1.jpg" alt="" class="w-full max-w-[700px] h-auto">
            <p><strong>Step 1:</strong> Fill out the Signature Maker form, be sure to follow the instructions to make sure your signature will be correctly displayed.</p>
            <p><strong>Step 2:</strong> Once you’ve filled out all applicable fields, simply click on the “Submit” button to have your new email signature emailed to you directly.</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img src="https://www.gwstoolgroup.com/wp-content/uploads/2025/03/step_3.png" alt="" class="w-full max-w-[700px] h-auto">
            {# <img src="/wp-content/uploads/2024/12/step_3_2.jpg" alt="" class="w-full max-w-[700px] h-auto"> #}
            <p><strong>Step 3:</strong> Check your email for your new signature. Next, simply copy everything below the thank you message. (Right click on your mouse, then Copy, or use the keyboard shortcut by pressing and holding the “Ctrl” and “C” keys.) <strong>IMPORTANT: If you are using outlook, please ensure you have chosen to "Download external images", otherwise the GWS Logo will not appear for you to copy.</strong></p>
        </div>
        <div class="w-full lg:w-8/12">
            <img src="/wp-content/uploads/2024/12/step_4.jpg" alt="" class="w-full max-w-[700px] h-auto">
            <p><strong>Step 4:</strong> Open Microsoft Outlook on your computer, click on “View” located on the top, and then click on “View Settings”.</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img src="/wp-content/uploads/2024/12/step_5.jpg" alt="" class="w-full max-w-[700px] h-auto">
            <p><strong>Step 5:</strong> Click on “Accounts”, and then “Signatures”. This is where you will be pasting your new company email signature you copied from the email sent to you.</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img src="https://www.gwstoolgroup.com/wp-content/uploads/2025/03/step_6.png" alt="" class="w-full max-w-[700px] h-auto">
            <p><strong>Step 6:</strong> Paste your copied signature from your email in the empty box (Right click on mouse, Paste, or the shortcut “Ctrl” and “P” buttons at the same time. You’ll then need to make sure your name and title fits on the same line. When hovering over the signature, you will see a square appear in the bottom right corner which you can then click and drag to make sure it looks like it should (see red circle below).</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img src="https://www.gwstoolgroup.com/wp-content/uploads/2025/03/step_7.png" alt="" class="w-full max-w-[700px] h-auto">
            <p><strong>Step 7:</strong> Next, you’ll need to name your signature where it says “GWS Signature” below, and then click the “Save” Button.</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img src="https://www.gwstoolgroup.com/wp-content/uploads/2025/03/step_8.png" alt="" class="w-full max-w-[700px] h-auto">
            <p><strong>Step 8:</strong> Now in the same window as above, click on the drop-down button next to “For New Messages”. Here you will then click on the signature you just created and named (GWS Signature). Next click on the “Save” button below and you are all set!</p>
        </div>
        <div class="w-full lg:w-8/12">
            
            <p><strong>Step 9:</strong> Now when you are in Microsoft Outlook, and you click on “New Mail” to send a new email, your new GWS signature will automatically be attached. If you have any additional problems, feel free to send an email to <a href="mailto:ithelpdesk@gwstoolgroup.com" class="underline text-pale-blue font-bold">ithelpdesk@gwstoolgroup.com</a> to create a ticket.</p>
        </div>
    </div>

</section>

{% endblock %}