{% extends "base.twig" %}

{% block content %}
{# <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css"> #}

<section id="product-filter-header" class="page-header bg-black">
    <div class="md:container mx-auto flex flex-col justify-center ps-10 hero-background animate__animated animate__fadeInDown" style="background: url('{{post.thumbnail}}'); background-size: cover; background-position: center;">
        <h1 class="text-7xl font-black text-white uppercase">Tool Filter</h1>
    </div>
</section>

<section>
    <div class="md:container flex lg:flex-row flex-col gap-y-8 justify-between mx-auto gap-x-8 py-36 lg:py-48 px-4">
        <div id="filters-section" class="w-full lg:w-3/12 filter-border p-3 lg:p-8 animate__animated animate__fadeInLeft">
            <div>
                <label for="tool-type-select" class="block text-sm font-semibold leading-6 text-pale-blue">Tool Type</label>
                <select id="tool-type-select" name="tool-type-select" class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option value="default">Choose one</option>
                    <option value="Milling" data-filter="milling">Milling</option>
                    <option value="Holemaking" data-filter="holemaking">Holemaking</option>
                    <option value="Threading" data-filter="threading">Threading</option>
                    <option value="Specialty" data-filter="specialty">Specialty</option>
                    <option value="Inserts" data-filter="inserts">Inserts</option>
                </select>
            </div>

            <div id="sub-type-container">
                
            </div>
            <div id="filters-container" class="flex flex-col gap-y-4 pt-4">
            
            </div>
        </div>
        <div class="w-full lg:w-9/12 filter-border p-3 lg:p-8 animate__animated animate__fadeInRight">
            <h3 class="text-4xl font-bold mb-8 text-pale-blue uppercase">Search Results</h3>
            <div id="results-container">
                
            </div>
        </div>
    </div>

</section>
<script src="/wp-content/themes/gws-web/js/tool-filter.js"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

{% endblock %}