{% extends "base.twig" %}
{% block content %}

{# {% include "page-header.twig" %} #}

<section class="container mx-auto px-8 pt-80">
    <div class="flex flex-col gap-y-4">
        <h2 class="text-4xl text-pale-blue font-bold">Your Rapid Quote has been sent.</h2>
        <p class="text-xl">We will send you a follow up email soon. <br>If you have further questions, please email  <a href="mailto:sales@gwstoolgroup.com">sales@gwstoolgroup.com</a><br>Thank you.</p>
    </div>
</section>

{% endblock %}