{% extends "base.twig" %}
{% block content %}

{% include "page-header.twig" %}

<section class="container mx-auto py-48 px-4">
    <div id="iso-certifications" class="lit-section">
        <h2 class="text-4xl font-bold text-pale-blue uppercase mb-4">Quality Documents</h2>
        <hr>
        <div class="lit-row flex flex-wrap mt-10 mb-28">

        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">RoHS Statement</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/signed-Rohas.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">Responsible Sourcing Statement</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2025/02/Responsible-Minerals-Sourcing-Statement_GWS-2025.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">REACH Statement</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/REACH-Statement-en-2.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">Animal Derivative Statement</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/10/GWS-Animal-Derivative-Statement.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Tavares, FL</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2025/03/ISO_9001_FL_2025.pdf">Download 9001</a></button></div>
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2025/03/ISO_14001_FL_2025.pdf">Download 14001</a></button></div>
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2025/03/ISO_45001_FL_2025.pdf">Download 45001</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Edmonton, AB</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_11_12-14-22_Edmonton_AB_CN.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">TISO Certificate - Welland, ON</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_10_12-14-22_Welland_ON_CN.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Grand Rapids, MI</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_9_12-14-22_Grand-Rapids-MI.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Surprise, AZ</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_8_12-14-22_Surprise_AZ.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Vista, CA</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_7_12-14-22_Vista_CA.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Menomonee Falls, WI</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_4_12-14-22_Menomonee-Falls_WI.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Hartland, WI</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_5_12-14-22_Hartland_WI.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Batavia, IL</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_3_12-14-22-Batavia-IL.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - South Beloit, IL</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_2_12-14-22_SouthBeloit_IL.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Arden, NC</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2023/03/18201_1_12-14-22_Arden_NC.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>
        <div class="lit-block w-full md:w-6/12 lg:w-4/12 flex justify-between">
            <div class="w-full mt-6">
                <h3 class="text-xl font-semibold text-pale-blue mb-4">ISO Certificate - Nasvhille, TN</h3>
                <div class="flex flex-col md:flex-row gap-y-4 gap-x-2 flex-wrap">
                    <div><button class="btn light-blue"><a href="/wp-content/uploads/2024/03/GWS_ISO_CERT_-2021_NASHVILLE.pdf">Download</a></button></div>
                </div>
            </div>  
        </div>

    

    </div>
</div>
</section>
{% endblock %}