{# <div style="display: inline-block; padding-bottom: 10px; margin-bottom: 10px;">
    <p style="overflow: auto; margin: 0px 0px 10px; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif; font-weight: bold; color: #003262; background-color: transparent;">
        {Your Full Name:1} | <em>{Your Current Job/Position:2}</em>
    </p>
    <p style="margin: 2px 0px; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif; color: #222; background-color: transparent;">
        <a style="color: #164172;" href="mailto:{Email:5}">{Email:5}</a>
    </p>
    <p style="margin: 2px 0px; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif; color: #222; background-color: transparent;">
        <strong>Mobile:</strong> {Your Mobile #:3}  <strong>Office:</strong> {Extension:10}
    </p>
    <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
    <table role="presentation" style="width: 100%; border-spacing: 0; border-collapse: collapse;">
        <tr>
            <td style="padding-right: 10px; vertical-align: top; border-right: 1px solid #ddd;">
                <img src="https://www.gwstoolgroup.com/wp-content/uploads/2024/12/gwst_full_color-small.png" alt="" style="max-width: 150px; height: auto; display: block;">
            </td>
            <td style="vertical-align: middle; padding-left: 10px; ">
                <p style="margin: 0; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif; color: #222;">
                    <a href="mailto:sales@gwstoolgroup.com" style="color: #222; text-decoration: none; display: block; margin-bottom: 4px; text-decoration:underline;">sales@gwstoolgroup.com</a>
                    <a href="tel:8774978665" style="color: #222; text-decoration: none; display: block; margin-bottom: 4px; text-decoration:underline;">(877) 497-8665</a>
                    <a href="https://www.gwstoolgroup.com" style="color: #222; text-decoration: none; display: block; margin-bottom: 4px; text-decoration:underline;">https://www.gwstoolgroup.com</a>
                </p>
            </td>
        </tr>
    </table>
</div> #}
<div id="email-signature" style="display: inline-block; padding-bottom: 10px; margin-bottom: 10px;">
    <table role="presentation" style="width: 100%; border-spacing: 0; border-collapse: collapse;">
        <tr>
            <td style="padding-right: 10px; vertical-align: top; border-right: 1px solid #ddd;">
                <a href="https://www.gwstoolgroup.com" target="_blank"><img src="https://www.gwstoolgroup.com/wp-content/uploads/2024/12/gws_email_logo.png" alt="" style="display: block;"></a>
            </td>
            <td style="vertical-align: middle; padding-left: 20px; ">
                <p style="margin: 0; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif;">
                    <p style="margin: 0px 0px 10px; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif; font-weight: bold; color: #003262; background-color: transparent;">
                        <span>
                            {Your Full Name:1} | <em>{Your Current Job/Position:2}</em>
                        </span>
                    </p>
                    <p style="margin: 3px 0px; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif; color: #222; background-color: transparent;">
                        <a style="color: #164172;" href="mailto:{Email:5}">{Email:5}</a>
                    </p>
                    <p style="margin: 3px 0px; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif; color: #222; background-color: transparent;">
                        <strong>Mobile:</strong> {Your Mobile #:3}
                    </p>
                    <p style="margin: 3px 0px; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif; color: #222; background-color: transparent;">
                        <strong>Office:</strong> {Extension:10}
                    </p>
                    <p style="margin: 10px 0px 0px; font-size: 14px; line-height: 110%; font-family: Arial, sans-serif; color: #222; background-color: transparent;">
                        <a href="https://www.gwstoolgroup.com" style="color: #222; text-decoration: none; display: block; text-decoration:underline;">gwstoolgroup.com</a>
                    </p>
                </p>
            </td>
        </tr>
    </table>
</div>

