<section class="page-header bg-black px-4">
    <div class="md:container mx-auto flex flex-col justify-center px-4 md:px-10 hero-background animate__animated animate__fadeInDown" style="background: url('{{post.thumbnail}}'); background-size: cover; background-position: center;">
        <h1 class="text-4xl md:text-7xl font-black text-white uppercase">{{post.title}}</h1>
    </div>
</section>