{% extends "base.twig" %}
{% block content %}

{% include "page-header.twig" %}

<section class="pt-40 md:pt-48 container mx-auto flex flex-col align-center">
    <div class="flex justify-center mb-20">
        <p class="text-center text-xl md:text-2xl w-10/12">GWS Tool Group is a rapidly growing, energetic company that is committed to investing in the organization and it’s employees. Continue reading to learn more!</p>
    </div>

    <div id="start-your-search" class="px-10 py-20 gap-y-16 lg:py-28 lg:px-20 flex items-center lg:flex-row flex-col">
            <div class="w-full md:w-8/12 lg:w-7/12">
                <h2 class="text-3xl md:text-4xl font-bold uppercase text-pale-blue text-center lg:text-left">Starting Your Job Search?</h2>
                <h3 class="text-xl md:text-2xl text-center lg:text-left">You're in the right place!</h3>
            </div>
            <div class="w-full md:w-4/12 flex justify-center">
                <button class="btn btn-large light-blue flex justify-center md:block"><a href="https://recruiting.paylocity.com/recruiting/jobs/All/233a647f-2d43-482d-a189-29407cb9055a/GWS-Tool-LLC?location=All%20Locations&department=All%20Departments">See Job Opportunities</a></button>
            </div>
    </div>

    <div class="flex flex-col-reverse lg:flex-row md:px-10 px-4 mb-16">
        <div class="w-full lg:w-5/12 pt-10">
            <h2 class="text-2xl md:text-4xl font-bold uppercase text-pale-blue mb-3">Start Your New Career</h2>
            <h2 class="text-2xl md:text-4xl font-bold uppercase text-pale-blue">Somewhere New</h2>
            <p class="text-lg md:text-xl my-8">We offer the ability to work at any of our locations across North America. Pick any of our beautiful locations to jumpstart your career.</p>
            <div>
                <button class="btn light-blue"><a href="/locations">See Facility Locations</a></button>
            </div>
        </div>
        <div class="w-full lg:w-7/12">
            <img src="/wp-content/uploads/2024/02/locations_new.png" alt="">
        </div>
    </div>

</section>

<section>

    <div id="why-gws" class="flex h-100 justify-end">
        <div class="why-content flex items-center w-full md:w-7/12 2xl:w-5/12 h-100 justify-end">
            <div class="px-8 lg:px-20">
                <h2 class="text-4xl uppercase font-bold">Why GWS?</h2>
                <p class="my-8">GWS is the North American leader in the design and manufacturing of custom cutting tools. Servicing industries including Aerospace, Automotive, Medical, Energy and general Engineering, GWS deploys all its resources to support the global manufacturing community in building their products. As the fastest growing company in our industry, the career opportunities are numerous and the pathways for advancement nearly limitless. Passion and a strong desire to roll up one’s sleeves is all that is needed to get started with GWS Tool Group. We have accomplished this through constant investment in the organization and our employees.</p>
                <div>
                    <button class="btn dark-blue"><a href="/who-we-are">Learn More About Us</a></button>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="flex flex-col container mx-auto items-center py-32 px-4">
    <div class="text-center">
        <h2 class="text-4xl text-pale-blue uppercase font-bold">Life at GWS</h2>
        <h3 class="text-x mb-20">Enjoy a causal, family friendly environment with your future coworkers.</h3>
    </div>
    
    <div id="employee-gallery" class="mt-10 flex flex-col lg:flex-row gap-y-8 justify-between">
        <div class="w-full flex justify-center lg:w-2/12 lg:pt-10">
            <img src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/gws_employee_1.png" alt="">
        </div>
        <div class="w-full flex justify-center lg:w-2/12 lg:pt-6">
            <img src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/gws_employee_2.png" alt="">
        </div>
        <div class="w-full flex justify-center lg:w-2/12">
            <img src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/gws_employee_3.png" alt="">
        </div>
        <div class="w-full flex justify-center lg:w-2/12 lg:pt-6">
            <img src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/gws_employee_4.png" alt="">
        </div>
        <div class="w-full flex justify-center lg:w-2/12 lg:pt-10">
            <img src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/gws_employee_5.png" alt="">
        </div>
     
    </div>
</section>

<section>

    <div id="spotlight-gws" class="flex h-100">
        <div class="spotlight-content flex items-center w-full md:w-6/12 lg:w-5/12 h-100">
            <div class="px-8 lg:px-20">
                <h2 class="text-4xl uppercase font-bold">Celebrating Our Employees</h2>
                <p class="my-8">Every month one GWS employee is featured in an “Employee Spotlight” where we celebrate them by sharing the awesome things they love to do in and outside of GWS.</p>
                <div>
                    <button class="btn dark-blue"><a href="/gws-blog">Read Employee Spotlights</a></button>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="container flex flex-col mx-auto py-48 px-4">
    <div class="text-center mb-10">
        <h2 class="text-4xl uppercase font-bold text-pale-blue">What we have to offer</h2>
        <p class="my-8">We pride ourselves on being able to offer competitive benefits to all our employees.</p>
    </div>

    <div class="flex flex-wrap justify-between gap-y-10">
        <div class="benefit flex flex-col items-center justify-center w-full md:w-6/12 lg:w-3/12">
            <div class="flex justify-center items-center w-full h-full">
                <img class="w-3/12 mx-auto" src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/health_insurance.png" alt="">
            </div>
            <h3 class="text-2xl text-pale-blue font-semibold mt-4">Health Insurance</h3>
        </div>
        <div class="benefit flex flex-col items-center justify-center w-full md:w-6/12 lg:w-3/12">
            <div class="flex justify-center items-center w-full h-full">
                <img class="w-3/12 mx-auto" src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/dental_insurance.png" alt="">
            </div>
            <h3 class="text-2xl text-pale-blue font-semibold">Dental Insurance</h3>
        </div>
        <div class="benefit flex flex-col items-center justify-center w-full md:w-6/12 lg:w-3/12">
            <div class="flex justify-center items-center w-full h-full">
                <img class="w-3/12 mx-auto" src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/401k.png" alt="">
            </div>
            <h3 class="text-2xl text-pale-blue font-semibold">401k</h3>
        </div>
        <div class="benefit flex flex-col items-center justify-center w-full md:w-6/12 lg:w-3/12">
            <div class="flex justify-center items-center w-full h-full">
                <img class="w-3/12 mx-auto" src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/paid_time_off.png" alt="">
            </div>
            <h3 class="text-2xl text-pale-blue font-semibold">Paid Time Off</h3>
        </div>
        <div class="benefit flex flex-col items-center justify-center w-full md:w-6/12 lg:w-3/12">
            <div class="flex justify-center items-center w-full h-full">
                <img class="w-3/12 mx-auto" src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/life_insurance.png" alt="">
            </div>
            <h3 class="text-2xl text-pale-blue font-semibold">Life Insurance</h3>
        </div>
        <div class="benefit flex flex-col items-center justify-center w-full md:w-6/12 lg:w-3/12">
            <div class="flex justify-center items-center w-full h-full">
                <img class="w-3/12 mx-auto" src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/disability.png" alt="">
            </div>
            <h3 class="text-2xl text-pale-blue font-semibold">Disability</h3>
        </div>
        <div class="benefit flex flex-col items-center justify-center w-full md:w-6/12 lg:w-3/12">
            <div class="flex justify-center items-center w-full h-full">
                <img class="w-3/12 mx-auto" src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/relocation_assistance.png" alt="">
            </div>
            <h3 class="text-2xl text-pale-blue font-semibold">Relocation Assistance</h3>
        </div>
        <div class="benefit flex flex-col items-center justify-center w-full md:w-6/12 lg:w-3/12">
            <div class="flex justify-center items-center w-full h-full">
                <img class="w-3/12 mx-auto" src="https://dev.gwstoolgroup.com/wp-content/uploads/2024/02/casual_gws_swag.png" alt="">
            </div>
            <h3 class="text-2xl text-pale-blue font-semibold">Casual GWS Swag</h3>
        </div>
    </div>

</section>

<section>
    <div class="bg-diagonal">{% include "./templates/perfect-tool-two.php" %}</div>
</section>


{% endblock %}