{% extends "base.twig" %}
{% block content %}
{% include "page-header.twig" %}
<section class="py-32 md:py-48 container mx-auto px-4">
    <div class="flex flex-col md:flex-row md:flex-wrap">

        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="power-generation" href="/industries/power-generation/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Power Generation</h2>
                </div>
            </a>
        </div>
     
     
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="oil-gas" href="/industries/oil-and-gas/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Oil and Gas</h2>
                </div>
            </a>
        </div>
     
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="medical" href="/industries/medical/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Medical</h2>
                </div>
            </a>
        </div>
        
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="heavy-industrial" href="/industries/heavy-industrial/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Heavy Industrial</h2>
                </div>
            </a>
        </div>
     
     
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="general-industrial" href="/industries/general-industrial/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">General Industrial</h2>
                </div>
            </a>
        </div>
     
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="auto-ice" href="/industries/automotive-i-c-e/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Automotive I.C.E.</h2>
                </div>
            </a>
        </div>

        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="auto-non-ice" href="/industries/automotive-non-i-c-e/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Automotive Non I.C.E.</h2>
                </div>
            </a>
        </div>
     
     
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="armament" href="/industries/armament/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Armament</h2>
                </div>
            </a>
        </div>
     
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="space" href="/industries/aerospace-space/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Aerospace: Space</h2>
                </div>
            </a>
        </div>
        
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="engine" href="/industries/aerospace-engine/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Aerospace: Engine</h2>
                </div>
            </a>
        </div>
     
     
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="defense" href="/industries/aerospace-defense/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Aerospace: Defense</h2>
                </div>
            </a>
        </div>
     
        <div class="p-4 w-full md:w-6/12 lg:w-4/12 flex hvr-float">
            <a id="commercial" href="/industries/aerospace-commercial/" class="w-full h-full py-40 px-10 industry-tile flex justify-center items-center">
                <div>
                    <h2 class="text-3xl font-bold uppercase text-white text-center">Aerospace: Commercial</h2>
                </div>
            </a>
        </div>

    </div>
</section>

<section>
    <div class="bg-diagonal">{% include "./templates/perfect-tool-two.php" %}</div>
</section>

{% endblock %}



