{% extends "base.twig" %}

{% block content %}

<section id="login-page-container" class="flex flex-col container mx-auto justify-center items-center">
        
        <div class="w-6/12 flex flex-col gap-y-4">
            <h2 class="text-pale-blue text-4xl font-bold">Forgot Your Password?</h2>
            <form name="lostpasswordform" id="lostpasswordform" action="/wp-login.php?action=lostpassword" method="post">
                <p>
                    <label for="user_login" class="block text-sm font-medium leading-6 text-white">Username or Email Address</label>
                    <input type="text" name="user_login" id="user_login" class="input block w-full rounded-md border-0 bg-white/5 p-2.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" value="" size="20" />
                </p>
                <input type="hidden" name="redirect_to" value="" />
                <p class="submit mt-4">
                    <input type="submit" name="wp-submit" id="wp-submit" class="btn light-blue" value="Get New Password" />
                </p>
            </form>
        </div>
        
    




</section>

{% endblock %}