{% extends "base.twig" %}

{% block content %}
<section id="login-page-container">

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-20 w-auto" src="/wp-content/uploads/2024/01/GWS-Logo-White-Small-Small.png" alt="GWS Tool Group">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign in to your account</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form name="loginform" id="loginform" class="space-y-6" action="{{ site.url }}/wp-login.php" method="POST">

                {% if login_failed %}
                    <div class="error-message">
                        <p class="text-red-500">The username or password you entered is incorrect. Please try again.</p>
                    </div>
                {% endif %}
                <div>
                    <label for="user_login" class="block text-sm font-medium leading-6 text-white">Email address</label>
                    <div class="mt-2">
                        <input id="user_login" name="log" type="email" autocomplete="email" required class="block w-full rounded-md border-0 bg-white/5 p-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                <div class="flex items-center justify-between">
                    <label for="user_pass" class="block text-sm font-medium leading-6 text-white">Password</label>
                    <div class="text-sm">
                    <a href="{{ site.url }}/wp-login.php?action=lostpassword" class="font-semibold text-pale-blue hover:text-white">Forgot password?</a>
                    </div>
                </div>
                <div class="mt-2">
                <input id="user_pass" name="pwd" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 bg-white/5 p-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                
                <button type="submit" name="wp-submit" value="Log In" class="flex w-full justify-center rounded-md btn light-blue px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sign in</button>
                <div class="float-right mb-2"> 
                    <input type="checkbox" id="rememberme" name="rememberme" />
                    <label class="text-white text-sm" for="rememberme">Remember Me</label>
                </div>
            </div>
            </form>

            <p class="mt-10 text-center text-sm text-gray-400">
            Don't have an account?
            <a href="/distributor-registration" class="font-semibold leading-6 text-pale-blue hover:text-white">Register here.</a>
            </p>
        </div>
    </div>
</section>

{% endblock %}