<div class="filter-div w-3/12 pe-4">
    <p>Taps Od1</p>
    <div class="text-black">{{ function('do_shortcode', '[facetwp facet="taps_od1"]') }}</div>
</div>

<div class="filter-div w-3/12 pe-4">
    <p>Taps Thread Size</p>
    <div class="text-black">{{ function('do_shortcode', '[facetwp facet="taps_thread_size"]') }}</div>
</div>