{% extends "base.twig" %}

{% block content %}

    {% do action('woocommerce_before_single_product') %}

    <article itemscope itemtype="https://schema.org/Product" class="single-product-details {{ post.class }} pt-60 container mx-auto text-white">
    {% set series = product.get_attribute('pa_series') %}
        <div class="entry-images">
            {# {% do action('woocommerce_before_single_product_summary') %}

            <img src="{{ post.thumbnail.src('shop_single') }}" /> #}
            <img src="/wp-content/themes/gws-web/images/catalog_images/{{series}}_catalog.png" alt="" class="max-h-[200px] w-auto">
        </div>

        <div class="summary entry-summary">
            {% do action('woocommerce_single_product_summary') %}
        </div>

        {% do action('woocommerce_after_single_product_summary') %}

        <meta itemprop="url" content="{{ post.link }}" />

    </article>

    {# {% include ["partials/tease-product.twig"] with { products: related_products } %} #}

    {# {% do action('woocommerce_after_single_product') %} #}

{% endblock  %}